In [4]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [5]:
data = pd.read_excel('./shooping_demo.xls')
data.head()

       Day Discount Free Delivery  Buy
0  Weekday      Yes           Yes  Yes
1  Weekday      Yes           Yes  Yes
2  Weekend       No            No   No
3  Holiday      Yes           Yes  Yes
4  Weekday      Yes           Yes  Yes

In [6]:
data.shape

(50, 4)

In [8]:
data['Buy'].value_counts()

Yes    41
No      9
Name: Buy, dtype: int64

In [28]:
PYes = 41/50
PNo = 9/50

In [29]:
PYes

0.82

In [30]:
PNo

0.18

In [12]:
pd.crosstab(data['Day'], data['Buy'])

Buy      No  Yes
Day
Holiday   6   18
Weekday   2    9
Weekend   1   14

In [23]:
PHolidayNo = 6/9
PWeekdayNo = 2/9
PWeekendNo = 1/9

PHolidayYes = 18/41
PWeekdayYes = 9/41
PWeekendYes = 14/41

PHoliday = 24/50
PWeekday = 11/50
PWeekend = 15/50

0.21951219512195122

In [31]:
PNoWeekday = (PWeekdayNo*PNo)/PWeekday
PNoWeekday

0.1818181818181818

In [32]:
PYesWeekday = (PWeekdayYes*PYes)/PWeekday
PYesWeekday

0.8181818181818181

In [33]:
pd.crosstab(data['Discount'], data['Buy'])

Buy       No  Yes
Discount
No         5   12
Yes        4   29

In [36]:
PNoDiscountNo = 5/9
PYesDiscountNo = 4/9

PNoDiscountYes = 12/41
PYesDiscountYes = 29/41

PNoDiscount = 17/50
PYesDiscount = 33/50

In [37]:
pd.crosstab(data['Free Delivery'], data['Buy'])

Buy            No  Yes
Free Delivery
No              4   10
Yes             5   31

In [39]:
PNoDeliveryNo = 4/9
PYesDeliveryNo = 5/9

PNoDeliveryYes = 10/41
PYesDeliveryYes = 31/41

PNoDelivery = 14/50
PYesDelivery = 36/50

In [42]:
PNoBuy1 = ((PHolidayNo*PYesDiscountNo*PYesDeliveryNo)*PNo)/(PHoliday*PYesDiscount*PYesDelivery)
PNoBuy1

0.12989982125784594

In [47]:
PBuy2 = ((PHolidayYes*PYesDiscountYes*PYesDeliveryYes)*PYes)/(PHoliday*PYesDiscount*PYesDelivery)
PNoBuy1

0.12989982125784594

In [49]:
PSum = PNoBuy1+PBuy2
PSum

0.9739666044977402

In [51]:
PBuy = (PBuy2/PSum) * 100
PBuy

86.66280541263185

In [54]:
PNoBuy = (PNoBuy1*PSum) * 100
PNoBuy

12.651808783536758